﻿@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims
@rendermode InteractiveWebAssembly
@inject NavigationManager Navigation

<AuthorizeView>
  <Authorized>
    Hello, @context.User.FindFirst("given_name")?.Value!
    <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
  </Authorized>
  <NotAuthorized>
    <a href="authentication/login">Log in</a>
  </NotAuthorized>
</AuthorizeView>

@code {
  public void BeginLogOut()
  {
    Navigation.NavigateToLogout("authentication/logout");
  }
}