@using NimbleLoopWebApp.Client.Components
@inherits LayoutComponentBase

<div class="page">
  <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href=""><img src="@Assets["images/logo.png"]" alt="NimbleLoop Logo" style="width:118px" /></a>
      <div class="auth">
        <LoginDisplay />
      </div>
    </div>
  </div>

  <main>
    <article class="content px-4">
      @Body
    </article>
  </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
  An unhandled error has occurred.
  <a href="." class="reload">Reload</a>
  <span class="dismiss">🗙</span>
</div>
