@page "/"
@attribute [StreamRendering]

<PageTitle>Home - @Constants.APP_NAME</PageTitle>

<!--Hero Section:start-->
<div class="container">
  <div class="row align-items-center my-5">
    <div class="col-md-6">
      <h1>We provide .NET Development Services for your Business</h1>
      <p>Our team of experts specializes in creating robust and scalable .NET applications tailored to your business needs.</p>
    </div>
    <div class="col-md-6 text-center">
      <img src="@Assets["images/hero-image.jpg"]" class="img-fluid" alt="Hero Image" />
    </div>
  </div>
</div>
<!--Hero Section:end-->

<!--About Section:start-->
<div class="container">
  <div class="row align-items-center my-5 text-center">
    <div class="col-md-12">
      <h1>About Us</h1>
      <p>NimbleLoop is an agile software development agency delivering value-driven solutions through iterative milestones. We provide working MVPs at every step, ensuring continuous client collaboration, early feedback, and maximum flexibility. Backed by a passionate team of product experts, developers, and QAs, we seamlessly blend technical expertise with strategic insight—enabling businesses to achieve scalable, user-centric products that thrive in competitive markets.</p>
    </div>
  </div>
</div>
<!--About Section:end-->